<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">成功</title>
</head>
<body>
    <div id="headpage">head</div>
    <h1  th:text="${user_messageg_success}">恭喜你，成功注册了,请登录邮箱进行账号激活</h1>
    <span id="time">5</span>s后调转到登录页面
    <div id="footerpage">footerpage</div>

    <script src="/store/static/mystore/js/jquery-3.3.1.js"></script>
    <script src="/store/static/mystore/js/myjs/head.js"></script>
    <script>

        /* 注册成功后5s倒计时去登录页面*/
        function daojishi() {
            var time = document.getElementById("time");
            if (time.innerText==='1'){
                window.location.href="http://www.worldzhile.xyz/store/user/login";
            }else {
                time.innerText=time.innerText-1+'';
            }
        }
       setInterval(daojishi,1000);

        $(function () {
            load_headpage_and_footerpage()
            getCategoryTenNumber()
        })






    </script>
</body>
</html>