<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="utf-8" >
    <title></title>
    <script src="/store/static/mystore/js/jquery-3.3.1.js"></script>
    <script src="/store/static/mystore/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="/store/static/mystore/css/bootstrap.css" />
    <!--     引入base公共css   -->
    <link rel="stylesheet" href="/store/static/mystore/css/base.css">
    <link rel="stylesheet" href="/store/static/layui/css/layui.css">
</head>
<body>
<div class="middle" style="margin-top: 30px;">
    <h1>我的设置</h1>
    <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#bulletin" data-toggle="tab">修改个人资料</a></li>
        <li><a href="#rule" data-toggle="tab">修改密码</a></li>
        <li><a href="#forum" data-toggle="tab">我的备注</a></li>
    </ul>


    <div id="mytab-content" class="tab-content">
        <div class="tab-pane fade in active" id="bulletin">
<!--            修改个人资料-->
            <div class="layui-fluid">
                <div class="layui-row layui-col-space15">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">设置我的资料</div>
                            <div class="layui-card-body" pad15="">

                                <div class="layui-form" lay-filter="">
                                    <input type="text" th:value="${user.uid}" id="uid">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">用户名</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="username" th:value="${user.username}" readonly="" class="layui-input">
                                        </div>
                                        <div class="layui-form-mid layui-word-aux">不可修改。一般用于后台登入名</div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label"  >昵称</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="name" id="name" th:value="${user.name}" lay-verify="nickname" autocomplete="off" placeholder="请输入昵称" class="layui-input">
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <label class="layui-form-label">头像</label>
                                        <div class="layui-input-inline">
                                            <input name="avatar"   id="address" placeholder="图片地址" th:value="${user.url}" class="layui-input">
                                        </div>
                                        <div class="layui-input-inline layui-btn-container" style="width: auto;">
<!--                                            <button type="file"  class="layui-btn layui-btn-primary" id="LAY_avatarUpload">-->
<!--                                                <i class="layui-icon"></i>上传图片-->
<!--                                            </button>-->
                                            <button type="button" class="layui-btn" id="upload" name="upload">
                                                <i class="layui-icon">&#xe67c;</i>上传图片
                                            </button>
                                            <a class="layui-btn layui-btn-primary"  th:href="${user.url}" layadmin-event="avartatPreview" th:url="${user.url}" id="see">查看图片</a>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">手机</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="phone" id="phone" th:value="${user.phone}" value="" lay-verify="phone" autocomplete="off" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">邮箱</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="email" th:value="${user.qqEmail}" lay-verify="email" readonly="readonly" autocomplete="off" class="layui-input">
                                        </div>
                                        <div class="layui-form-mid layui-word-aux">不可修改。一般用于修改密码</div>
                                    </div>

                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <button class="layui-btn" lay-submit="" id="queding" lay-filter="setmyinfo">确认修改</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="tab-pane fade" id="rule">修改密码</div>
        <div class="tab-pane fade" id="forum">我的备注</div>

    </div>
</div>






<script src="/store/static/layui/layui.js"></script>
<script src="/store/static/layui/layui.all.js"></script>
<script src="/store/static/layui/croppers.js"></script>

<script src="/store/static/mystore/js/jquery-3.3.1.js"></script>
<script type="text/javascript">
    $(function(){
        $('#myTab a').click(function(){
            $(this).tab('show')
        })


        $("#see").click(function () {
                // alert($("#see")[0].getAttribute("url"))
             layui.layer.open({
                 title:"头像",
                 area: ['500px', '500px'],
                 type:2,
                 content: [$("#see")[0].getAttribute("url"),"no"],
             })
        })

        $("#queding").click(function () {
            var name = $("#name").val();
            if (name.length<2||name==undefined){
                layui.layer.msg("昵称有问题!",{time:500});
                return
            }
            var uid = $("#uid").val();
            var phone = $("#phone").val();
            $.get("/store/user/updatenameandphone",{"uid":uid,"name":name,"phone":phone},function (data) {

                layui.layer.msg("success",{time:1000})

            })
        })
    })



</script>












<!--zhengchang -->
<script>
    layui.use('upload', function(){
        var upload = layui.upload;

        //执行实例
        var uploadInst = upload.render({
            elem: '#upload' //绑定元素
            ,url: '/store/uploadFiles' //上传接口
            ,done: function(res){
                //上传完毕回调
                console.log("aasc")

                var uid = $("#uid").val();
                var curl=res[0];
                console.log(uid)
                console.log(curl+"AAAA");

                $.ajax({
                    url: "/store/user/updateUserPicture?",//请求的url
                    async: true,//是否异步
                    data: {"uid":uid,"url":curl},//请求的参数
                    type: "GET",//请求方式
                    success:function (date) {
                        $("#see")[0].setAttribute("url",res[0]);
                        $("#see")[0].setAttribute("href",res[0]);
                        $("#address")[0].setAttribute("value",res[0]);
                        console.log("successXIXI")
                        // $("#picture").attr("value",curl);

                    },


                })

            }
            ,error: function(){
                //请求异常回调
            }
        });
    });
</script>
</body>
</html>







